<div class="center">
    <img src="../../../assets/finaktiva.png" alt="">
</div>

<div id="card">
    <div id="card-content">
        <div id="card-title">
            <h2>LOGIN</h2>
            <div class="underline-title"></div>
        </div>
        <form method="post" class="form">
            <label for="user-email" style="padding-top:13px">
                &nbsp;Usuario
            </label>
            <input id="user-email" class="form-content" type="email" name="email" autocomplete="on" [(ngModel)]="user" required />
            <div class="form-border"></div>
            <label for="user-password" style="padding-top:22px">&nbsp;Contraseña
            </label>
            <input id="user-password" class="form-content" type="password" name="password" [(ngModel)]="password" required />
            <div class="form-border"></div>
            <input id="submit-btn" type="submit" name="submit" value="LOGIN" (click)="login()" />
        </form>
    </div>
</div>

